<div class="col-lg-12 lista-m">
<h1>Editar Motorista</h1>
</div>

<div class="col-lg-12 bbox editc">
<div class="content-box tbox">
<div class="col-lg-3 col-centered">
<%= render 'form' %>

<div class="show">
<%= link_to 'Mostrar', @motoristum %> |
<%= link_to 'Voltar', motorista_path %>
   </div>
    </div>
    </div>
</div>
